---
interface Props {
  title: string;
  body: string;
  icon: string;
  description: string;
  colorBody: string;
  colorIcon: string;
}

const { title, body, icon, description, colorBody, colorIcon } = Astro.props;
---

<div style=`--color-body: ${colorBody}` class='relative bg-[--color-body] rounded-3xl p-4'>
  <div style=`--color-icon: ${colorIcon}` class=`bg-[--color-icon] absolute top-10 -left-8 p-3 rounded-full`>
    <img src={icon} alt={description} />
  </div>
  <div class="pl-9">
    <h3 class="font-semibold text-[1.2rem]">{title}</h3>
    <p>
      {body}
    </p>
  </div>
</div>


